
@if (Session["IsAuthenticated"].ToString() == "true")
{
    string rol = Session["UserRole"].ToString();
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>

                @if (rol == "admin")
                {
                    @Html.ActionLink(@Session["UserEmail"].ToString(), "Index", "Cabinet")
                    ;
                    @Html.ActionLink(@Session["UserRole"].ToString(), "Index", "Cabinet")
                    ;
                }
                else
                {
                    @Html.ActionLink(@Session["UserEmail"].ToString(), "Index", "Cabinet")
                }

            </li>
            <li>
                <h4>  |  </h4>
            </li>
            <li>
                @Html.ActionLink("Выйти", "LogOut", "Login")
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-right">
        <li>
            <span data-toggle="modal" data-target="#Registration" style="padding-right: 10px;">
                @Ajax.ActionLink("Логин", "Create", "Login", new AjaxOptions
               {
                   HttpMethod = "Get",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "ModalContent"
               })
            </span>
            | 
            <span data-toggle="modal" data-target="#Registration" style="padding-left: 10px;">
                @Ajax.ActionLink("Регистрация", "Create", "Registration", new AjaxOptions
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "ModalContent"
               })
            </span>
        </li>
    </ul>
}
