@using Microsoft.Ajax.Utilities
@model GreenHouse.ContexManager.ReservationManager

@{
    ViewBag.Title = "Start Page";
}

<script type="text/javascript">
    $(document).ready(function(){
        var date = @DateTime.Now.Day + '.' + @DateTime.Now.Month + '.' + @DateTime.Now.Year;

        $('#datetimepicker12').datepicker('setDate', date);
    })
</script>

<br />
<br />

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-4"></div>
        <div class="col-xs-6 text-center">
            <form class="form-find-room form-inline" role="form">
                <h2>Забронировать</h2>
                <br />
                <div class="form-group">
                    <input id="room-name" class="form-control" placeholder="Номер комнаты">
                </div>
                <button id="review" type="submit" class="btn btn-primary" onclick="$.GreenHouse.btnReview_Click()">Обзор</button>
            </form>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
        <h3>Расписание</h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
        <label id="forDate">на @DateTime.Now.Date.Day.@DateTime.Now.Date.Month.@DateTime.Now.Date.Year</label>
    </div>

    <div class="col-xs-5">
            <h5 id="info" class="hidden"></h5>
    </div>

    <div id="calendar-close">
        <div class="col-xs-1">
            <h6>Календарь</h6>
        </div>
        <div class="col-xs-2">
            <button id="btnToggleCalendar" class="btn-primary btn" onclick="$.GreenHouse.btnToggleCalendar_Click(this)">Скрыть</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-1">
        <table class="table table-left">
            <th style="padding: 0px; text-align: right; border-top: none;">
                <button class="btn-slider" onclick="$.GreenHouse.btnLeft_Click()"><</button>
            </th>

            @foreach (var tr in Model.Table)
            {
                <tr style="padding: 0px;">

                    @foreach (var td in tr)
                    {
                        if (td.ReservationId == -2)
                        {
                            <td style="height: 40px; padding: 10px;">
                                @td.Purpose:00
                            </td>
                        }
                    }
                </tr>
            }
        </table>

    </div>
    <div id="table-container" class="col-xs-7">
        <table>
            <tr>
                <td valign='top'>
                    <div id='lenta'>
                        <div id='cont'>
                            @Html.Partial("~/Views/Home/Table.cshtml")
                        </div>
                    </div>
                </td>
                <td style="vertical-align: top;">
                    <button class="btn-slider" onclick="$.GreenHouse.btnRight_Click()">></button>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-xs-3">
        <div class="row">
            <div class="col-xs-8">
                <div id="calendarContainer">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="datetimepicker12"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"></div>
                        <div class="col-xs-7">
                            <button class="btn-primary btn" onclick="$.GreenHouse.btnToday_Click(@DateTime.Now.Date.Year, @DateTime.Now.Date.Month, @DateTime.Now.Date.Day)">Сегодня</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

@Html.Partial("~/Views/Shared/Rooms.cshtml")
<script></script>