@model GreenHouse.ContexManager.ReservationManager

@{
    ViewBag.Title = "Start Page";
}

<br />
<br />

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-4"></div>
        <div class="col-xs-6 text-center">
            <form class="form-find-room form-inline" role="form">
                <h2>Забронировать</h2>
                <br />
                <div class="form-group">
                    <input class="form-control" placeholder="Номер комнаты">
                </div>
                <button type="submit" class="btn btn-primary">Обзор</button>
            </form>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
        <h3>Расписание</h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
        <label id="forDate">на @DateTime.Now</label>
    </div>

    <div class="col-xs-2"></div>
    <div>
        <div class="col-xs-1">
            <h6>Календарь</h6>
        </div>
        <div class="col-xs-2">
            <button id="btnToggleCalendar" class="btn-primary" onclick="$.GreenHouse.btnToggleCalendar_Click(this)">Скрыть</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-1"></div>
    <div id="table-container" class="col-xs-7">
        <table>
            <tr>
                <td style="vertical-align:top;">
                    <button class="btn-group-sm" onclick="$.GreenHouse.btnLeft_Click()"><</button>
                </td>

                <td valign='top'>
                    <div id='lenta'>
                        <div id='cont'>
                            <table class="table-bordered" id='slider'>
                                <thead>
                                    <tr>
                                        <th></th>
                                        @foreach (var auditory in ViewBag.Auditoriums)
                                        {
                                            <th id="@auditory.AuditoriumId"> @auditory.AuditoriumName</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var tr in Model.Table)
                                    {
                                        <tr>
                                            <td>
                                                
                                            </td>
                                            @foreach (var td in tr)
                                            {
                                                if (td != null)
                                                {
                                                    <td class="reservation">
                                                        <div  data-toggle="popover" data-html="true" data-placement="right" 
                                                             data-content="<div class='custompopover'><h6>@td.User.FirstName @td.User.Surname</h6> 
                                                            <h6>@td.Purpose</h6> <button  onclick='$.GreenHouse.CancelClick(@td.ReservationId)' 
                                                            class='btn btn-group-sm'>Отменить</button> </div>">@td.User.FirstName @td.User.Surname</div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <div class="new-reservation" data-toggle="popover" data-html="true" data-placement="right" 
                                                             data-content="<div class='custompopover'><h6>Цель</h6> <input type='text'/> <button class='btn btn-group-sm'>Бронировать</button> </div>">
                                                        </div>
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
                <td style="vertical-align:top;">
                    <button class="btn-group-sm" onclick="$.GreenHouse.btnRight_Click()">></button>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-xs-4">
        <div class="row">
            <div class="col-xs-8 text-center">
                <div id="calendarContainer">
                    <div id="datetimepicker12"></div>
                    <button class="btn-primary" onclick="$.GreenHouse.btnToday_Click()">Today</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-10">
                <div class="mapContainer">
                    <h3>План Этажа</h3>
                    <h4>Комнат 15</h4>

                    <div class="mapImgContainer">
                        <div id="room301"></div>
                        <div id="room302"></div>
                        <div id="room303"></div>
                        <div id="room304"></div>
                        <div id="room305"></div>
                        <div id="room306"></div>
                        <div id="room307"></div>
                        <div id="room308"></div>
                        <div id="room309"></div>
                        <div id="room310"></div>
                        <div id="room311"></div>
                        <div id="room312"></div>
                        <div id="room313"></div>
                        <div id="room314"></div>
                        <div id="room315"></div>
                        <div> </div>
                        <img src="@Url.Content("~/Content/Images/map.png")" usemap="#roommap" />

                        <map name="roommap">
                            <area data-toggle="popover" data-html="true" data-target="room301" data-placement="right" data-content="
                            <div class='custompopover'><h3>301</h3></div>" shape="rect" coords="504,164,611,257"/>
                            <area shape="rect" coords="464,164,501,257" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>302</h3></div>" />
                            <area shape="rect" coords="295,164,336,256" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>303</h3></div>" />
                            <area shape="rect" coords="173,192,285,256" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>304</h3></div>" />
                            <area shape="rect" coords="173,82,264,130" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>305</h3></div>" />
                            <area shape="rect" coords="198,29,264,77" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>306</h3></div>" />
                            <area shape="rect" coords="38,29,125,86" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>307</h3></div>"/>
                            <area shape="rect" coords="38,92,125,129" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>308</h3></div>"/>
                            <area shape="rect" coords="38,133,125,173" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>309</h3></div>" />
                            <area shape="rect" coords="38,177,125,239" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>310</h3></div>" />

                            <area shape="rect" coords="192,307,345,396" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>312</h3></div>" />
                            <area shape="rect" coords="350,307,455,396" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>313</h3></div>" />
                            <area shape="rect" coords="465,307,610,396" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>314</h3></div>" />
                            <area shape="rect" coords="621,307,665,337" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>315</h3></div>" />

                            <area shape="circle" coords="105,320,67" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>311</h3></div>"/>
                            <area shape="circle" coords="55,270,25" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>311</h3></div>" />
                            <area shape="circle" coords="155,370,25" data-toggle="popover" data-html="true" data-placement="right" data-content="
                            <div class='custompopover'><h3>311</h3></div>" />

                        </map>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
</div>


