@model GreenHouse.ContexManager.ReservationManager

<table class="table-bordered" id='slider'>
    <thead>
        <tr class="text-center">
            @if (ViewBag.Room != null)
            {
                <th id="th-date">@ViewBag.Date.Day.@ViewBag.Date.Month.@ViewBag.Date.Year</th>
            }
            else if (ViewBag.week != null)
            {
                foreach (var day in ViewBag.week)
                {
                    <th id="th-date"> @day</th>
                }
            }
            else
            {
                foreach (var auditory in ViewBag.Auditoriums)
                {
                    <th id="@auditory.AuditoriumId"> @auditory.AuditoriumName</th>
                }
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var tr in Model.Table)
        {
            <tr>
                @foreach (var td in tr)
                {
                    if (td.ReservationId != -1 && td.ReservationId != -2)
                    {
                        if (td.Type)
                        {
                            if (@td.StartDate < DateTime.Now)
                            {
                                <td class="reservation">
                                    <div onclick="$.GreenHouse.btnHide_Info()" style="font-size: 10px;" id=@ViewBag.id data-toggle="popover" data-html="true" data-placement=@td.Placement
                                         data-content="<div class='custompopover text-center'>
                                                           <img src='../../Content/images/icon-user-grey.png' />
                                                                <h6>@td.User.FirstName @td.User.Surname</h6>
                                                                <h6>@td.Purpose</h6> </div>">
                                        @td.User.FirstName @td.User.Surname
                                    </div>
                                </td>
                            }
                            else if (Session["IsAuthenticated"].ToString() == "true" && (Session["UserRole"].ToString() == "admin" || Session["UserEmail"].ToString() == td.User.Email.ToString()))
                            {

                                <td class="reservation">
                                    <div onclick="$.GreenHouse.btnHide_Info()" id=@ViewBag.id data-toggle="popover" data-html="true" data-placement=@td.Placement
                                         data-content="<div class='custompopover'>
                                                           <div class='row'>
                                                               <div class='col-xs-12 text-center' style ='padding:5px;'>
                                                                    <img src='../Content/images/icon-user-grey.png' />
                                                                   <h6>@td.User.FirstName @td.User.Surname</h6>

                                                                   <textarea id=@td.ReservationId maxlength='50' cols='25' rows='3' style='resize: none;' id='@td.TargetAuditorium-@td.Hour'>@td.Purpose</textarea>
                                                               </div>
                                                               <div class='row'>
                                                                       <div class='col-xs-6' style='padding-left:30px;'>
                                                                           <button onclick='$.GreenHouse.ChangeReserv(@td.ReservationId)' class='btn-primary'>Изменить</button>
                                                                       </div>
                                                                       <div class='col-xs-6'>
                                                                           <button onclick='$.GreenHouse.CancelClick(@td.ReservationId)' class='btn-primary'>Отменить</button>
                                                                       </div>
                                                                   </div>
                                                            </div>"> @td.User.FirstName @td.User.Surname</div>
                                </td>
                            }
                            else
                            {
                                <td class="reservation">
                                    <div onclick="$.GreenHouse.btnHide_Info()" style="font-size: 10px;" id=@ViewBag.id data-toggle="popover" data-html="true" data-placement=@td.Placement
                                         data-content="<div class='custompopover'>
                                                                <h6>@td.User.FirstName @td.User.Surname</h6>
                                                                <h6>@td.Purpose</h6> </div>">
                                        @td.User.FirstName @td.User.Surname
                                    </div>
                                </td>
                            }
                        }
                        else
                        {
                            if (@td.StartDate < DateTime.Now && @td.FinishDate < DateTime.Now)
                            {
                                <td style='background-color: #dddddd' onclick="$.GreenHouse.btnHide_Info()">
                                    <div id=@ViewBag.id class="text-center">
                                        <span class="icon-lock"></span>
                                    </div>
                                </td>
                            }
                            else if (Session["IsAuthenticated"].ToString() == "true" && Session["UserRole"].ToString() == "admin")
                            {
                                <td style='background-color: #dddddd'>
                                    <div onclick="$.GreenHouse.btnHide_Info()" id=@ViewBag.id data-toggle="popover" data-html="true" data-placement=@td.Placement
                                         data-content="<div class='custompopover'>
                                       <div class='row'>
                                        <div>
                                            <span class='icon-unlock'>
                                                       <button  onclick='$.GreenHouse.CancelClick(@td.ReservationId)' class='btn'> Разблокировать</button></span> 
                                            </div>
                                       </div>
                                     </div>"><span class="icon-lock"></span></div>
                                </td>
                            }
                            else
                            {
                                <td style='background-color: #dddddd'>
                                    <div onclick="$.GreenHouse.btnHide_Info()" id=@ViewBag.id>
                                        <span class="icon-lock"></span>
                                    </div>
                                </td>
                            }
                        }
                    }
                    else if (td.ReservationId != -2)
                    {
                        <td>
                            @if (Session["IsAuthenticated"].ToString() == "true")
                            {
                                if (@td.StartDate < DateTime.Now)
                                {
                                    <div id=@ViewBag.id class="new-reservation" onclick="$.GreenHouse.btnPast_Click()">
                                    </div>
                                }
                                else if (Session["UserRole"].ToString() == "admin")
                                {
                                    <div onclick='$.GreenHouse.btnHide_Info()' id=@ViewBag.id.ToString() class="new-reservation" data-toggle="popover" data-html="true" data-placement=@td.Placement
                                         data-content="<div class='custompopover'>

                                                           <div class='row'>
                                                               <div class='col-xs-12 ' style='padding-left:10px;'>
                                                                   <h6 style='padding-left: 10px;'>Цель</h6>
                                                                   <textarea maxlength='50' cols='25' rows='3' style='resize: none;' id='@td.TargetAuditorium-@td.Hour'></textarea>
                                                               </div>
                                                               <div class='row' style='padding-left:10px;'>
                                                                   <div class='col-xs-5'>
                                                                       <span class='icon-lock' onclick='$.GreenHouse.LockClick(@td.StartDate.Year, @td.StartDate.Month,  @td.StartDate.Day, @td.Hour, @td.TargetAuditorium )'></span>
                                                                   </div>
                                                                   <div class='col-xs-6'>
                                                                       <button onclick='$.GreenHouse.ReservClick(@td.StartDate.Year, @td.StartDate.Month,  @td.StartDate.Day, @td.Hour, @td.TargetAuditorium )' class='btn-primary'>Бронировать</button>
                                                                   </div>
                                                               </div>
                                                           </div>                               
                                                      </div>">
                                    </div>
                                }
                                else
                                {
                                    <div onclick='$.GreenHouse.btnHide_Info()' id=@ViewBag.id class="new-reservation" data-toggle="popover" data-html="true" data-placement=@td.Placement
                                         data-content=" <div class='custompopover'>
                                                            <div class='row'>
                                                               <div class='col-xs-12 ' style='padding-left:10px;'>
                                                                   <h6 style='padding-left: 10px;'>Цель</h6>
                                                                   <textarea maxlength='50' cols='25' rows='3' style='resize: none;' id='@td.TargetAuditorium-@td.Hour'></textarea>
                                                               </div>
                                                               <div class='row' style='padding-left:10px;'>
                                                                   <div class='col-xs-5'>
                                                                   </div>
                                                                   <div class='col-xs-6'>
                                                                       <button onclick='$.GreenHouse.ReservClick(@td.StartDate.Year, @td.StartDate.Month,  @td.StartDate.Day, @td.Hour, @td.TargetAuditorium )' class='btn-primary'>Бронировать</button>
                                                                   </div>
                                                               </div>
                                                           </div>                               
                                                      </div>">
                                    </div>
                                }
                            }
                            else
                            {
                                <div id=@ViewBag.id class="new-reservation" onclick="$.GreenHouse.btnHide_Info()">
                                </div>
                            }
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
</script>







