@model GreenHouse.ContexManager.ReservationManager

<table class="table-bordered" id='slider'>
    <thead>
        <tr>
            @if (ViewBag.Room != null)
            {
                <th id="th-date">@ViewBag.Date.Day.@ViewBag.Date.Month.@ViewBag.Date.Year</th>
            }
            else if (ViewBag.week != null)
            {
                foreach (var day in ViewBag.week)
                {
                    <th id="th-date"> @day</th>
                }
            }
            else
            {
                foreach (var auditory in ViewBag.Auditoriums)
                {
                    <th id="@auditory.AuditoriumId"> @auditory.AuditoriumName</th>
                }
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var tr in Model.Table)
        {
            <tr>
                @foreach (var td in tr)
                {
                    if (td.ReservationId != -1 && td.ReservationId != -2)
                    {
                        if (td.Type)
                        {
                            if (@td.StartDate < DateTime.Now)
                            {
                                <td class="reservation"  onclick="$.GreenHouse.btnHide_Info()">
                                    <div style="font-size: 10px;" id=@ViewBag.id data-toggle="popover" data-html="true" data-placement="right"
                                         data-content="<div class='custompopover'>
                                                                <h6>@td.User.FirstName @td.User.Surname</h6>
                                                                <h6>@td.Purpose</h6> </div>">
                                                                @td.User.FirstName @td.User.Surname
                                    </div>
                                </td>
                            }
                            else if (Session["IsAuthenticated"].ToString() == "true" && (Session["UserRole"].ToString() == "admin" || Session["UserEmail"].ToString() == td.User.Email.ToString()))
                            {

                                <td class="reservation" onclick="$.GreenHouse.btnHide_Info()" >
                                    <div id=@ViewBag.id data-toggle="popover" data-html="true" data-placement="right"
                                         data-content="<div class='custompopover'>
                                            <h6>@td.User.FirstName @td.User.Surname</h6>
                                            <h6>@td.Purpose</h6>
                                        <button  onclick='$.GreenHouse.CancelClick(@td.ReservationId)' class='btn btn-group-sm'>Отменить</button> </div>"
                                    >@td.User.FirstName @td.User.Surname</div>
                                </td>
                            }
                            else
                            {
                                <td class="reservation"  onclick="$.GreenHouse.btnHide_Info()">
                                    <div style="font-size: 10px;" id=@ViewBag.id data-toggle="popover" data-html="true" data-placement="right"
                                         data-content="<div class='custompopover'>
                                                                <h6>@td.User.FirstName @td.User.Surname</h6>
                                                                <h6>@td.Purpose</h6> </div>">
                                                                @td.User.FirstName @td.User.Surname
                                    </div>
                                </td>
                            }
                        }
                        else
                        {
                            if (@td.StartDate < DateTime.Now)
                            {
                            <td style='background-color: #dddddd'  onclick="$.GreenHouse.btnHide_Info()">
                                    <div id=@ViewBag.id >
                                        <span class="icon-lock"></span>
                                    </div>
                                </td>
                            }
                            else if (Session["IsAuthenticated"].ToString() == "true" && Session["UserRole"].ToString() == "admin")
                            {
                                <td style='background-color: #dddddd' onclick="$.GreenHouse.btnHide_Info()">
                                    <div id=@ViewBag.id data-toggle="popover" data-html="true" data-placement="right"
                                         data-content="<div class='custompopover' >
                                         <span class='icon-unlock'></span>
                                    <button  onclick='$.GreenHouse.CancelClick(@td.ReservationId)' class='btn btn-group-sm'>Разблокировать</button> </div>"
                                ><span class="icon-lock"></span></div>
                                </td>
                            }
                            else
                            {
                                <td style='background-color: #dddddd' onclick="$.GreenHouse.btnHide_Info()">
                                    <div id=@ViewBag.id >
                                        <span class="icon-lock"></span>
                                    </div>
                                </td>
                            }
                        }
                    }
                    else if (td.ReservationId != -2)
                    {
                        <td>
                            @if (Session["IsAuthenticated"].ToString() == "true")
                            {
                                if (@td.StartDate < DateTime.Now)
                                {
                                    <div id=@ViewBag.id class="new-reservation" onclick="$.GreenHouse.btnPast_Click()">
                                    </div>
                                }
                                else if (Session["UserRole"].ToString() == "admin")
                                {
                                    
                                    <div  onclick='$.GreenHouse.btnHide_Info()' id=@ViewBag.id.ToString() class="new-reservation" data-toggle="popover" data-html="true" data-placement="right"
                                         data-content="<div class='custompopover'>
                                                <h6>Цель</h6>
                                                <textarea maxlength='50' cols='25' rows='3' style='resize: none;' id='@td.TargetAuditorium-@td.Hour'></textarea>
                                                <div>
                                                    <button onclick='$.GreenHouse.LockClick(@td.StartDate.Year, @td.StartDate.Month,  @td.StartDate.Day, @td.Hour, @td.TargetAuditorium )' class='btn'><span class='icon-lock'></span></button>
                                                    <button onclick='$.GreenHouse.ReservClick(@td.StartDate.Year, @td.StartDate.Month,  @td.StartDate.Day, @td.Hour, @td.TargetAuditorium )' class='btn btn-group-sm'>Бронировать</button>
                                                </div>
                                            </div>">
                                    </div>
                                }
                                else
                                {
                                    <div  onclick='$.GreenHouse.btnHide_Info()' id=@ViewBag.id class="new-reservation" data-toggle="popover" data-html="true" data-placement="right"
                                         data-content="<div class='custompopover'><h6>Цель</h6> <textarea maxlength='200' cols='25' rows='3' style='resize: none;' id='@td.TargetAuditorium-@td.Hour'></textarea> <button onclick='$.GreenHouse.ReservClick(@td.StartDate.Year, @td.StartDate.Month,  @td.StartDate.Day, @td.Hour, @td.TargetAuditorium )' class='btn btn-group-sm'>Бронировать</button> </div>">
                                    </div>
                                }
                            }
                            else
                            {
                                <div id=@ViewBag.id class="new-reservation"  onclick="$.GreenHouse.btnHide_Info()">
                                </div>
                            }
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
</script>







