@model GreenHouse.ContexManager.ReservationManager

<table class="table-bordered" id='slider'>
    <thead>
        <tr>
            <th></th>
            @foreach (var auditory in ViewBag.Auditoriums)
            {
                <th id="@auditory.AuditoriumId"> @auditory.AuditoriumName</th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var tr in Model.Table)
        {
            <tr>
                <td></td>
                @foreach (var td in tr)
                {
                    if (td.ReservationId != -1)
                    {
                        <td class="reservation">
                            @if (td.Type)
                            { 
                                if (Session["IsAuthenticated"].ToString() == "true" && (Session["UserRole"].ToString() == "admin" || Session["UserEmail"].ToString() == td.User.Email.ToString()))
                                {
                                    <div data-toggle="popover" data-html="true" data-placement="right"
                                         data-content="<div class='custompopover'>
                                            <h6>@td.User.FirstName @td.User.Surname</h6>
                                            <h6>@td.Purpose</h6>
                                        <button  onclick='$.GreenHouse.CancelClick(@td.ReservationId)' class='btn btn-group-sm'>Отменить</button> </div>"
                                    >@td.User.FirstName @td.User.Surname</div>
                                }
                                else
                                {
                                    <div data-toggle="popover" data-html="true" data-placement="right"
                                         data-content="<div class='custompopover'>
                                                                <h6>@td.User.FirstName @td.User.Surname</h6>
                                                                <h6>@td.Purpose</h6> </div>">
                                                                @td.User.FirstName @td.User.Surname
                                                        </div>
                                }
                            }
                            else
                            {
                                if (Session["IsAuthenticated"].ToString() == "true" && Session["UserRole"].ToString() == "admin" )
                                {
                                    <div data-toggle="popover" data-html="true" data-placement="right"
                                         data-content="<div class='custompopover' >
                                        <img src='~/Content/images/icon-unlock-grey.png' />
                                    <button  onclick='$.GreenHouse.CancelClick(@td.ReservationId)' class='btn btn-group-sm'>Разблокировать</button> </div>"
                                ><img src='~/Content/images/icon-lock-grey.png' /></div>
                                }
                                else
                                {
                                    <div style='background-color: #dddddd'>
                                    <img src='~/Content/images/icon-lock-grey.png' />
                                    </div>
                                }
                            }
                            
                        </td>
                    }
                    else
                    {
                        <td>
                            @if (Session["IsAuthenticated"].ToString() == "true")
                            {
                                if (Session["UserRole"].ToString() == "admin")
                                {
                                    <div class="new-reservation" data-toggle="popover" data-html="true" data-placement="right"
                                         data-content="<div class='custompopover'>
                                                                <h6>Цель</h6>
                                                                <textarea maxlength='200' cols='25' rows='3' style='resize: none;' id='@td.TargetAuditorium-@td.Hour'></textarea>
                                                                <button onclick='$.GreenHouse.ReservClick(@td.StartDate.Year, @td.StartDate.Month,  @td.StartDate.Day, @td.Hour, @td.TargetAuditorium )' class='btn btn-group-sm' style='background-image:url(../../Content/images/icon-lock-grey.png) no-repeat;'></button>
                                                            <button onclick='$.GreenHouse.ReservClick(@td.StartDate.Year, @td.StartDate.Month,  @td.StartDate.Day, @td.Hour, @td.TargetAuditorium )' class='btn btn-group-sm'>Бронировать</button> </div>">
                                                        </div>
                                }
                                else
                                {
                                    <div class="new-reservation" data-toggle="popover" data-html="true" data-placement="right"
                                         data-content="<div class='custompopover'><h6>Цель</h6> <textarea maxlength='200' cols='25' rows='3' style='resize: none;' id='@td.TargetAuditorium-@td.Hour'></textarea> <button onclick='$.GreenHouse.ReservClick(@td.StartDate.Year, @td.StartDate.Month,  @td.StartDate.Day, @td.Hour, @td.TargetAuditorium )' class='btn btn-group-sm'>Бронировать</button> </div>">
                                                                </div>
                                }
                            }
                            else
                            {
                                <div class="new-reservation">
                                </div>
                            }
                        </td>
                            }
                    
                }
            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
</script>







