@model GreenHouse.ContexManager.UserReservation
@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-6">

        <div class="col-xs-12 col-sm-12 mt30">
            <div id="user_data">
                <div class="row">
                    <h3>
                        @Session["UserSurname"] @Session["UserFirstName"]

                        @if (Session["UserRole"].ToString() == "admin")
                        {
                            <span>Admin</span>
                        }

                    </h3>

                    <h5>@Session["UserEmail"]</h5>
                    <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnUpdateUserData_Click()">Редактировать</button>
                </div>
            </div>
        </div>

        <div id="update_user_data" class="col-xs-12 hidden">
            <div class="row">
                <div class="col-xs-12">
                    <input id="firstname" class="form-control" placeholder='@Session["UserFirstName"]'>
                    <br />
                    <input id="surname" class="form-control" placeholder='@Session["UserSurname"]'>
                    <br />
                    <input id="email" class="form-control" placeholder='@Session["UserEmail"]'>
                    <br />
                    <div>
                        <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnCancelUpdateUserData_Click()">Отмена</button>

                        <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnSaveUserData_Click()">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-xs-12 col-sm-12 mt30">
                
                <h3>Забронированные комнаты</h3>

                @if (Model.UserReservations.Count != 0)
                {
                    <table class="table-bordered">
                        @foreach (var reservation in Model.UserReservations)
                        {
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div>@reservation.Purpose</div>
                                            <br/>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="col-xs-4">
                                                <span class="icon-locaton"></span>
                                                    @Html.ActionLink("Комната " + (@reservation.Auditorium.AuditoriumName),
                                                    "IndexRoomDate",
                                                    "Home",
                                                    new
                                                    {
                                                        date = "на " + @reservation.StartDate.Day + "." + reservation.StartDate.Month + "." + @reservation.StartDate.Year,
                                                        auditorium = @reservation.Auditorium.AuditoriumName
                                                    },
                                                    null)
                                            </div>
                                            <div class="col-xs-5">
                                                <div>
                                                    <span class="icon-calendar"></span>
                                                    @reservation.StartDate.Day.@reservation.StartDate.Month.@reservation.StartDate.Year @reservation.StartDate.Hour:00 - @reservation.FinishDate.Hour:00
                                                </div>
                                            </div>
                                            <div class="col-xs-1">
                                                <button class="btn" onclick="$.GreenHouse.CancelReservationClick(@reservation.ReservationId)">Отменить</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Забронированных комнат нет</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <h4 id="information" class="hidden"></h4>
    <br/>
    <div id="new_password" class="col-xs-6 hidden">
        <input id="newpass" class="form-control" placeholder="Новый пароль">
        <br/>
        <input id="confirm" class="form-control" placeholder="Повторить новый пароль">
        <br/>

        <div>
            <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnCancelUpdatePassword_Click()">Отмена</button>
            <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnSavePassword_Click()">Сохранить</button>
        </div>
    </div>


    <div id="new-room" class="col-xs-6 hidden mt30">
        <div data-ng-controller="RoomsController">
            <h3>Добавить новую комнату</h3>
            <div class="hidden" id="newRoomInfo">
                <h3>Комната {{ selectedNewRoom }}</h3>
                <input class="roomCap" placeholder="Количество мест" ng-model="newRoom.capacity"/>
                <div class="row">
                    <div class="pad15">
                        <div class="col-xs-3">
                            <span class="icon-wifi"></span>
                            <label> Wi-Fi</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="checkbox" id="wi-fi" name="Wi-fi" ng-model="newRoom.wifi"/>
                            <label for="wi-fi"><span class="grey"></span></label>
                        </div>
                        <div class="col-xs-3">
                            <span class="icon-monitor"></span>
                            <label>Монитор</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="checkbox" id="mon" name="Monitor" ng-model="newRoom.monitor"/>
                            <label for="mon"><span class="grey"></span></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="pad15">
                        <div class="col-xs-3">
                            <span class="icon-projector"></span>
                            <label>Проектор</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="checkbox" id="proj" name="Projector" ng-model="newRoom.projector"/>
                            <label for="proj"><span class="grey"></span></label>
                        </div>
                        <div class="col-xs-3">
                            <span class="icon-microphone"></span>
                            <label>Микрофон</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="checkbox" id="mic" name="Microphone" ng-model="newRoom.microphone"/>
                            <label for="mic"><span class="grey"></span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pad15">
                <div class="mapImgContainer" style="height: 261px; width: 436px;">
                    <div data-ng-repeat="room in filteredRooms">
                        <div id="Room{{ room.number }}"></div>
                    </div>
                    <img src="@Url.Content("~/Content/Images/rooms/map-min.png")" style='background-size: 436px 261px; position: absolute; width: 436px; height: 261px;' usemap="#min-roommap" />
                    <map name="min-roommap">

                        <area id="301" shape="rect" coords="320, 97, 400, 161" data-ng-click="addNewRoom(301)" />
                        <area id="302" shape="rect" coords="295, 97, 320, 161" data-ng-click="addNewRoom(302)" />
                        <area id="303" shape="rect" coords="180, 97, 210, 161" data-ng-click="addNewRoom(303)" />
                        <area id="304" shape="poly" coords="99,115, 176,115, 176,161, 127,176, 99,138" data-ng-click="addNewRoom(304)" />
                        <area id="305" shape="rect" coords="99, 40, 164, 80" data-ng-click="addNewRoom(305)" />
                        <area id="306" shape="rect" coords="116, 5, 161, 40" data-ng-click="addNewRoom(306)" />
                        <area id="307" shape="rect" coords="9, 5, 68, 50" data-ng-click="addNewRoom(307)" />
                        <area id="308" shape="rect" coords="9, 50, 68, 75" data-ng-click="addNewRoom(308)" />
                        <area id="309" shape="rect" coords="9, 77, 68, 103" data-ng-click="addNewRoom(309)" />
                        <area id="310" shape="rect" coords="9, 107, 68, 150" data-ng-click="addNewRoom(310)" />

                        <area id="311" shape="circle" coords="51,200,48" data-ng-click="addNewRoom(311)" />
                        <area id="311" shape="circle" coords="17, 167, 17" data-ng-click="addNewRoom(311)" />
                        <area id="311" shape="circle" coords="85, 233, 17" data-ng-click="addNewRoom(311)" />

                        <area id="312" shape="rect" coords="112, 194, 213, 256" data-ng-click="addNewRoom(312)" />
                        <area id="313" shape="rect" coords="218, 194, 289, 256" data-ng-click="addNewRoom(313)" />
                        <area id="314" shape="rect" coords="295, 194, 394, 256" data-ng-click="addNewRoom(314)" />
                        <area id="315" shape="rect" coords="400, 194, 430, 215" data-ng-click="addNewRoom(315)" />
                    </map>
                </div>
            </div>

            <div class="pad15">
                <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnCancelNewRoom_Click()">Отмена</button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="addRoom(newRoom)">Добавить</button>
            </div>
        </div>
    </div>



    <div class="col-xs-6 col-sm-6 text-right mt30">
        <div id="btn_new_pass_room">
            @if (Session["UserRole"].ToString() == "admin")
            {
                <button type="button" class="btn btn-primary btn-lg " onclick="$.GreenHouse.btnNewRoom_Click()">Новая комната</button>
            }
            <button type="button" class="btn btn-primary btn-lg " onclick="$.GreenHouse.btnUpdatePassword_Click()">Сменить пароль</button>
        </div>
    </div>
</div>
