@model GreenHouse.ContexManager.UserReservation
@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-6">
        <div class="col-xs-12 col-sm-12 mt30">
            <div id="user_data">
                <div class="row">
                    <h3>
                        @Session["UserSurname"] @Session["UserFirstName"]

                        @if (Session["UserRole"].ToString() == "admin")
                        {
                            <span>Admin</span>
                        }

                    </h3>

                    <h5>@Session["UserEmail"]</h5>
                    <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnUpdateUserData_Click()">Редактировать</button>
                </div>
            </div>
        </div>

        <div id="update_user_data" class="col-xs-12 hidden">
            <div class="row">
                <div class="col-xs-12">
                    <input id="firstname" class="form-control" placeholder='@Session["UserFirstName"]'>
                    <br />
                    <input id="surname" class="form-control" placeholder='@Session["UserSurname"]'>
                    <br />
                    <input id="email" class="form-control" placeholder='@Session["UserEmail"]'>
                    <br />
                    <div>
                        <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnCancelUpdateUserData_Click()">Отмена</button>

                        <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnSaveUserData_Click()">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-xs-12 col-sm-12 mt30">
                <h3>Забронированные комнаты</h3>
                @if (Model.UserReservations.Count != 0)
                {
                    <table class="table-bordered">
                        @foreach (var reservation in Model.UserReservations)
                        {
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div>@reservation.Purpose</div>
                                            <br />
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="col-xs-4">
                                                <span class="icon-locaton"></span>

                                                @Html.ActionLink("Комната " + (@reservation.Auditorium.AuditoriumName),
                                                    "IndexRoomDate",
                                                    "Home",
                                                    new
                                                    {
                                                        date = "на " + @reservation.StartDate.Day + "." + reservation.StartDate.Month + "." + @reservation.StartDate.Year,
                                                        auditorium = @reservation.Auditorium.AuditoriumName
                                                    },
                                                    null)
                                            </div>
                                            <div class="col-xs-5">
                                                <div>
                                                    <span class="icon-calendar"></span>
                                                    @reservation.StartDate.Day.@reservation.StartDate.Month.@reservation.StartDate.Year @reservation.StartDate.Hour:00 - @reservation.FinishDate.Hour:00
                                                </div>
                                            </div>
                                            <div class="col-xs-1">
                                                <button class="btn" onclick="$.GreenHouse.CancelReservationClick(@reservation.ReservationId)">Отменить</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Забронированных комнат нет</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <h4 id="information" class="hidden"></h4>
    <br/>
    <div id="new_password" class="col-xs-6 hidden">
        <input id="newpass" class="form-control" placeholder="Новый пароль">
        <br/>
        <input id="confirm" class="form-control" placeholder="Повторить новый пароль">
        <br/>

        <div>
            <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnCancelUpdatePassword_Click()">Отмена</button>
            <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnSavePassword_Click()">Сохранить</button>
        </div>
    </div>
    <div id="new-room" class="col-xs-6 hidden mt30">
        <h3>Добавить новую комнату</h3>
        <div class="mapImgContainer" style="height: 261px; width: 436px;">
            <img src="@Url.Content("~/Content/Images/map.png")" style='background-size: 436px 261px; position: absolute; width: 436px; height: 261px;'/>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnCancelNewRoom_Click()">Отмена</button>
            <button type="button" class="btn btn-primary btn-lg" onclick="$.GreenHouse.btnAddNewRoom_Click()">Добавить</button>
        </div>
    </div>

    <div class="col-xs-6 col-sm-6 text-right mt30">
        <div id="btn_new_pass_room">
            @if (Session["UserRole"].ToString() == "admin")
            {
                <button type="button" class="btn btn-primary btn-lg " onclick="$.GreenHouse.btnNewRoom_Click()">Новая комната</button>
            }
            <button type="button" class="btn btn-primary btn-lg " onclick="$.GreenHouse.btnUpdatePassword_Click()">Сменить пароль</button>
        </div>
    </div>
</div>
